{% extends 'web/layout.html' %}

{% block content %}
    <script>
    </script>

    <!-- Begin Page Content -->
    <div class="container">
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-dark">정보 수정</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
						<form class="user" action="account_mod" method="post" enctype="multipart/form-data" >
                            <div class="form-group">
                                   <input type="text" class="form-control form-control-user" name="owner_name" 
                                   placeholder="이름"  value="{{owner.owner_name}}">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" name="owner_id" 
                                placeholder="아이디 ( 이메일 )"  value="{{owner.owner_id}}" readonly >
                            </div>
                            <div class="form-group">
                                    <input type="password" class="form-control form-control-user" name="owner_pwd" 
                                    placeholder="비밀번호" value="{{owner.owner_pwd}}">
                            </div>
                            <hr>

                            <div class="form-group">
                                <input type="text" name="owner_str_name" class="form-control form-control-user" placeholder="상호명"  
                                value="{{owner.owner_str_name}}">
                            </div>
                            <div class="form-group">
                                <input type="text" name="owner_str_num" class="form-control form-control-user" placeholder="사업자등록번호 또는 가맹점번호"  
                                value="{{owner.owner_str_num}}" readonly >
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="owner_str_tel" class="form-control form-control-user" placeholder="가게전화번호" 
                                value="{{owner.owner_str_tel}}" >
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <p align="center">회사 로고 지정</p>
                                </div>
                                <div class="col-sm-9 mb-3 mb-sm-0">
                                    <input type="file" name="logo" class="form-control-file border">
                                </div>
                            </div>
                            
                            <hr>
                            <div class="form-group row">
                                <div class="col-8">
                                    <input type="text" name="owner_add1" class="form-control form-control-user" placeholder="주소"
                                           value="{{owner.owner_add1}}" readonly required>
                                </div>
                                <div class="col-4">
                                    <button data-toggle="modal" data-target="#AddSearchModal" type="button" class="btn btn-primary btn-user">주소검색</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-8">
                                    <input type="text" name="owner_add2" class="form-control form-control-user" placeholder="상세주소"
                                           value="{{owner.owner_add2}}" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">수정</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
   