{% extends 'web/layout.html' %}

{% block content %}
<script>
    function del_images() {
        $('input[name=logo_path]').val('');
        $('input[name=logo_file]').val('');
        $('#logo_image').html('<input type="file" name="logo" class="form-control-file border" required>');
    }

    function getaddress() {
        $.ajax({
            url: 'https://dapi.kakao.com/v2/local/search/address.json?query=' + encodeURIComponent($('#add1').val()) + '&size=30',
            type: 'GET',
            headers: {'Authorization': 'KakaoAK 26a57e202a118708213a612eee4232fa'},
            success: function (data) {
                if (data.documents.length === 0) {
                    let res = '    <div class="card col-12">\n'
                    res += '        <div class="card-body">\n'
                    res += '            검색된 주소가 없습니다.\n'
                    res += '       </div>\n'
                    res += '    </div>\n'
                    $('#result').html(res)
                } else {
                    let res = ''
                    res += '<div class="card col-12">'
                    res += '    <ul class="list-group list-group-flush">'
                    for (let i = 0; i < data.documents.length; i++) {
                        res += '        <li id="kakaoadd' + i + '" class="list-group-item" onclick="select_address(\'kakaoadd' + i + '\')">' + data.documents[i].address_name + '</li>'
                    }
                    res += '    </ul>'
                    res += '</div>'
                    $('#result').html(res);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function select_address(kakaoadd_id) {
        $('input[name=owner_add1]').val($('#' + kakaoadd_id).html());
        $('#AddSearchModal').modal('hide');
    }


    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            html: true,
            content: function () {
                return '<img class="img-fluid" src="' + $(this).data('img') + '" />';
            }
        });
    });


    $(function () {
        $('input[name=owner_pwd]').keyup(function () {
            if (pw_check()) {
                $('input[name=owner_pwd]').next().removeClass('badge-danger').html('조건을 만족합니다.').addClass('badge-success');
            } else {
                $('input[name=owner_pwd]').next().removeClass('badge-success').html('비밀번호는 영문자, 숫자, 특수문자를 포함한 8 ~ 15자리여야 합니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (pw_check()) {
                $('input[name=owner_pwd]').next().html('');
            }
        });

        $('input[name=owner_pwd_check]').keyup(function () {
            if (pw_double_check()) {
                $('input[name=owner_pwd_check]').next().removeClass('badge-danger').html('비밀번호가 일치합니다.').addClass('badge-success');
            } else {
                $('input[name=owner_pwd_check]').next().removeClass('badge-success').html('비밀번호가 일치하지 않습니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (pw_double_check()) {
                $('input[name=owner_pwd_check]').next().html('');
            }
        });

        $('input[name=owner_str_tel]').keyup(function () {
            if (str_tel_check()) {
                $('input[name=owner_str_tel]').next().removeClass('badge-danger').html('사용할 수 있는 전화번호입니다.').addClass('badge-success');
            } else {
                $('input[name=owner_str_tel]').next().removeClass('badge-success').html('사용할 수 없는 전화번호입니다.').addClass('badge-danger');
            }
        }).focusout(function () {
            if (str_tel_check()) {
                $('input[name=owner_str_tel]').next().html('');
            }
        });


        $('input').keyup(function () {
            field_fill_check();
        }).focusout(function () {
            field_fill_check();
        });
    });

    function pw_check() {
        const regPwd = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;
        return regPwd.test($('input[name=owner_pwd]').val())
    }

    function pw_double_check() {
        return $('input[name=owner_pwd]').val() === $('input[name=owner_pwd_check]').val()
    }

    function str_tel_check() {
        const regTel = /^\d{2,3}-\d{3,4}-\d{4}$/;
        return regTel.test($('input[name=owner_str_tel]').val())
    }

    function field_fill_check() {
        if (pw_check()
            && pw_double_check()
            && str_tel_check()) {
            $('#submit').attr('disabled', false);
        } else {
            $('#submit').attr('disabled', true);
        }
    }


</script>

<!-- Begin Page Content -->
<div class="container">
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">정보 수정</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form action="account_mod_form" class="user" enctype="multipart/form-data" method="post">
                        {% if owner.logo_file %}
                        <input name="logo_path" type="hidden" value="{{owner.logo_path}}">
                        <input name="logo_file" type="hidden" value="{{owner.logo_file}}">
                        {% else %}
                        <input name="logo_path" type="hidden" value="">
                        <input name="logo_file" type="hidden" value="">
                        {% endif %}
                        <div class="form-group">
                            <input class="form-control form-control-user" name="owner_name" placeholder="이름" required
                                   type="text" value="{{owner.owner_name}}">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" name="owner_id" placeholder="아이디 ( 이메일 )"
                                   readonly required type="email" value="{{owner.owner_id}}">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input class="form-control form-control-user" name="owner_pwd" placeholder="비밀번호"
                                       type="password" value="{{owner.owner_pwd}}">
                                <span class="badge badge-pill"></span>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control form-control-user" name="owner_pwd_check"
                                       placeholder="비밀번호 확인"
                                       type="password" value="{{owner.owner_pwd}}">
                                <span class="badge badge-pill"></span>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <input class="form-control form-control-user" name="owner_str_name" placeholder="상호명"
                                   required type="text" value="{{owner.owner_str_name}}">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" name="owner_str_num"
                                   placeholder="사업자등록번호 또는 가맹점번호"
                                   readonly required type="text" value="{{owner.owner_str_num}}">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-user" name="owner_str_tel" placeholder="가게전화번호"
                                   required type="text" value="{{owner.owner_str_tel}}">
                            <span class="badge badge-pill"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                                <p align="center">회사 로고 지정</p>
                            </div>
                            <div class="col-8" id="logo_image">
                                {% if owner.logo_file %}
                                <p>
                                    <img alt="img"
                                         data-img="downloads?path={{owner.logo_path}}&file={{owner.logo_file}}"
                                         data-placement="left"
                                         data-toggle="popover" height="auto"
                                         src="downloads?path=uploads/img&file=img.svg"
                                         width="25px">

                                    <a href="javascript:del_images()">×</a>
                                </p>
                                <input class="form-control-file border invisible" name="logo" type="file">
                                {% else %}
                                <input class="form-control-file border" name="logo" required type="file">
                                {% endif %}
                            </div>
                        </div>

                        <hr>
                        <div class="form-group row">
                            <div class="col-8">
                                <input class="form-control form-control-user" name="owner_add1" placeholder="주소"
                                       readonly required type="text" value="{{owner.owner_add1}}">
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary btn-user" data-target="#AddSearchModal"
                                        data-toggle="modal"
                                        type="button">주소검색
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-8">
                                <input class="form-control form-control-user" name="owner_add2" placeholder="상세주소"
                                       required required type="text" value="{{owner.owner_add2}}">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-user btn-block" id="submit" type="submit">수정</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- address search Modal-->
<div aria-hidden="true" aria-labelledby="AddSearchModalLabel" class="modal fade" id="AddSearchModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">우편번호 검색</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                찾고자 하는 동을 입력하세요.
                <input id="add1" type="text">
                <input onclick="getaddress()" type="button" value="검색">
                <div class="row" id="result">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of address modify Modal-->


{% endblock %}
   