{% extends 'web/layout.html' %}

{% block content %}
<script>
    $('span').each(function () {
        if ($(this).html() === "메뉴 관리") {
            $(this).parents('li').addClass('active');
            return false;
        }
    });
    $(document).ready(function () {
        $('select').each(function () {
            if ($(this).val() === '{{menu.cate_seq}}') {
                $(this).attr('selected', true);
                return false;
            }
        });
    });

    function del_images() {
        $('input[name=attach_path]').val('');
        $('input[name=attach_file]').val('');
        $('#image_card').html('<input type="file" name="file" class="form-control-file border" required>');
    }
</script>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-dark">메뉴 관리</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col-4"><p><b>메뉴 번호</b></p></div>
                        <div class="col-8"><p>{{menu.menu_seq}}</p></div>
                        <div class="col-4"><p><b>카테고리명</b></p></div>
                        <div class="col-8"><p>{{menu.cate_name}}</p></div>
                        <div class="col-4"><p><b>메뉴명</b></p></div>
                        <div class="col-8"><p>{{menu.menu_name}}</p></div>
                        <div class="col-4"><p><b>가격</b></p></div>
                        <div class="col-8"><p>{{menu.menu_price}}</p></div>
                        <div class="col-4"><p><b>설명</b></p></div>
                        <div class="col-8"><p id="menu-content">{{menu.menu_content}}</p></div>
                        {% if menu.attach_file %}
                        <div class="col-4"><p><b>이미지</b></p></div>
                        <div class="card col-8">
                            <img class="card-img-top"
                                 src="downloads?path={{menu.attach_path}}&file={{menu.attach_file}}">
                        </div>
                        {% endif %}
                        <div class="col-4"><p><b>표시여부</b></p></div>
                        {% if menu.menu_display_yn == 'Y' or menu.menu_display_yn =='y' %}
                        <div class="col-8"><p>표시</p></div>
                        {% else %}
                        <div class="col-8"><p>비표시</p></div>
                        {% endif %}
                    </div>

                    <div style="text-align: right">
                        <button class="btn btn-outline-success" onclick="location.href='menu_list'" type="button">목록
                        </button>
                        <button class="btn btn-outline-warning" data-target="#MenuModModal" data-toggle="modal"
                                type="button">수정
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- menu modify Modal-->
<div aria-hidden="true" aria-labelledby="MenuModModalLabel" class="modal fade" id="MenuModModal" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form action="menu_mod_form" enctype="multipart/form-data" method="post">
                {% if menu.attach_file %}
                <input name="attach_path" type="hidden" value="{{menu.attach_path}}">
                <input name="attach_file" type="hidden" value="{{menu.attach_file}}">
                {% else %}
                <input name="attach_path" type="hidden" value="">
                <input name="attach_file" type="hidden" value="">
                {% endif %}
                <div class="modal-header">
                    <h5 class="modal-title" id="MenuModModalLabel">메뉴 수정</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- menu modify Modal content -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="row text-center">
                                    <div class="col-6"><p>메뉴 번호</p></div>
                                    <div class="col-6">
                                        <p>{{menu.menu_seq}}</p>
                                        <input name="menu_seq" type="hidden" value="{{menu.menu_seq}}">
                                    </div>
                                    <div class="col-6"><p>카테고리명</p></div>
                                    <div class="col-6">
                                        <select class="form-control" name="cate_seq" required>
                                            {% for category in categoryList %}
                                            <option value="{{category.cate_seq}}">{{category.cate_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-6"><p>메뉴명</p></div>
                                    <div class="col-6"><input class="form-control" name="menu_name" required
                                                              type="text" value="{{menu.menu_name}}"></div>
                                    <div class="col-6"><p>가격</p></div>
                                    <div class="col-6"><input class="form-control" min="0" name="menu_price"
                                                              required type="number" value="{{menu.menu_price}}"></div>
                                    <div class="col-6"><p>설명</p></div>
                                    <div class="col-6"><textarea class="form-control" cols="100" name="menu_content"
                                                                 required rows="5">{{menu.menu_content}}</textarea>
                                    </div>
                                    <div class="col-6"><p>이미지</p></div>
                                    <div class="col-6">
                                        <div class="card" id="image_card">
                                            {% if menu.attach_file %}
                                            <img class="card-img-top"
                                                 src="downloads?path={{menu.attach_path}}&file={{menu.attach_file}}">
                                            <button aria-label="Close" class="close" onclick="del_images()"
                                                    type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <input class="form-control-file border invisible" name="file" type="file">
                                            {% else %}
                                            <input class="form-control-file border" name="file" type="file">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-6"><p>공개여부</p></div>
                                    {% if menu.menu_display_yn == 'Y' or menu.menu_display_yn =='y' %}
                                    <div class="col-3">
                                        <label><input checked name="menu_display_yn" required type="radio" value="y"> 공개</label>
                                    </div>
                                    <div class="col-3">
                                        <label><input name="menu_display_yn" required type="radio" value="n">
                                            비공개</label>
                                    </div>
                                    {% else %}
                                    <div class="col-3">
                                        <label><input name="menu_display_yn" required type="radio" value="y"> 공개</label>
                                    </div>
                                    <div class="col-3">
                                        <label><input checked name="menu_display_yn" required type="radio" value="n">
                                            비공개</label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of menu modify  Modal content -->
                </div>
                <div class="modal-footer" style="text-align: right">
                    <button class="btn btn-outline-warning" type="submit">수정 완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of menu modify  Modal-->
{% endblock %}
