<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu">
    <select id="selectAll">
        select menu_seq,
               m.owner_seq,
               m.cate_seq,
               menu_name,
               menu_price,
               menu_content,
               menu_display_yn,
               m.attach_path,
               m.attach_file,
               m.in_date,
               m.in_user_id,
               m.up_date,
               m.up_user_id,
               c.cate_name
        from menu m
                 inner join category c on m.cate_seq = c.cate_seq
        where m.owner_seq = :v_owner_seq
        order by menu_seq
    </select>
    <select id="select">
        select menu_seq,
               m.owner_seq,
               m.cate_seq,
               menu_name,
               menu_price,
               menu_content,
               menu_display_yn,
               m.attach_path,
               m.attach_file,
               m.in_date,
               m.in_user_id,
               m.up_date,
               m.up_user_id,
               c.cate_name
        from menu m
                 inner join category c on m.cate_seq = c.cate_seq
        where m.menu_seq = :v_menu_seq
          and m.owner_seq = :v_owner_seq
    </select>
    <update id="insert">
        insert into menu(menu_seq,
                         owner_seq,
                         cate_seq,
                         menu_name,
                         menu_price,
                         menu_content,
                         menu_display_yn,
                         attach_path,
                         attach_file,
                         in_date,
                         in_user_id,
                         up_date,
                         up_user_id)
        values (menu_seq.nextval,
                :v_owner_seq,
                :v_cate_seq,
                :v_menu_name,
                :v_menu_price,
                :v_menu_content,
                :v_menu_display_yn,
                :v_attach_path,
                :v_attach_file,
                to_char(sysdate, 'yyyymmdd.hh24miss'),
                :v_in_user_id,
                to_char(sysdate, 'yyyymmdd.hh24miss'),
                :v_up_user_id)
    </update>
    <update id="update">
        update menu
        set cate_seq        = :v_cate_seq,
            menu_name       = :v_menu_name,
            menu_price      = :v_menu_price,
            menu_content    = :v_menu_content,
            menu_display_yn = :v_menu_display_yn,
            attach_path     = :v_attach_path,
            attach_file     = :v_attach_file,
            up_date         = to_char(sysdate, 'yyyymmdd.hh24miss'),
            up_user_id      = :v_up_user_id
        where menu_seq = :v_menu_seq
    </update>
</mapper>