<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/f9954cbb85.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css"
          integrity="sha512-Mk4n0eeNdGiUHlWvZRybiowkcu+Fo2t4XwsJyyDghASMeFGH6yUXcdDI3CKq12an5J8fq4EFzRVRdbjerO3RmQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/js/sb-admin-2.min.js"
            integrity="sha512-+QnjQxxaOpoJ+AAeNgvVatHiUWEDbvHja9l46BHhmzvP0blLTXC4LsvwDVeNhGgqqGQYBQLFhdKFyjzPX6HGmw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="favicon-16x16.png" rel="icon" type="image/x-icon">


</head>


<body>
<!-- Page Wrapper -->

<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar bg-danger sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="dashboard"> <img
                alt="logo_white" height="auto" src="downloads?path=uploads/img&file=logo_white.png" width="100px"></a>
        <!-- Nav Item - Dashboard -->
        <li class="nav-item"><a class="nav-link" href="dashboard"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Tables -->
        <li class="nav-item"><a class="nav-link" href="noti_list"> <i class="fas fa-fw fa-table"></i> <span>공지사항</span></a>
        </li>
        <!-- Divider -->
        {% if session.owner.admin_yn == "N" or session.owner.admin_yn == "n" %}
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Nav Item - Charts -->
        <li class="nav-item"><a class="nav-link" href="cate_list"> <i class="fas fa-fw fa-chart-area"></i>
            <span>카테고리 관리</span></a></li>
        <!-- Nav Item - Tables -->
        <li class="nav-item"><a class="nav-link" href="menu_list"> <i class="fas fa-fw fa-chart-area"></i>
            <span>메뉴 관리</span></a></li>
        <!-- Nav Item - Tables -->
        <li class="nav-item"><a class="nav-link" href="event_list"> <i class="fas fa-fw fa-table"></i>
            <span>이벤트 관리</span></a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="sys_ques_list"> <i class="fas fa-fw fa-chart-area"></i> <span>시스템 문의사항</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Nav Item - Charts -->
        {% if session.owner.admin_yn == "N" or session.owner.admin_yn == "n" %}
        <li class="nav-item"><a class="nav-link" href="voc_list"> <i class="fas fa-fw fa-chart-area"></i>
            <span>고객소리함</span></a></li>
        <hr class="sidebar-divider d-none d-md-block">
        {% endif %}
        <!-- Divider -->
        <!-- Nav Item - Charts -->
        {% if session.owner.admin_yn == "Y" or session.owner.admin_yn == "y" %}
        <li class="nav-item"><a class="nav-link" href="store_list"> <i class="fas fa-fw fa-chart-area"></i>
            <span>가맹점 관리</span></a></li>
        {% endif %}
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    {% if session.owner.admin_yn == "N" %}
                    <li class="navbar nav ml-auto">
                        <button class="btn btn-warning btn-sm btn-block" onclick="location.href='kiosk_home'"
                                type="button">키오스크
                        </button>
                    </li>
                    {% endif %}
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-dark" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{session.owner.owner_name}}</span>
                            <img class="img-profile rounded-circle"
                                 src="downloads?path={{session.owner.logo_path}}&file={{session.owner.logo_file}}">
                        </a> <!-- Dropdown - User Information -->
                        {% if session.owner.admin_yn == "N" %}
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="account_show"> <i
                                    class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 정보 보기</a>
                            <a class="dropdown-item" href="account_manage"> <i
                                    class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> 정보 수정</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#"> <i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 로그아웃</a>
                        </div>
                        {% else %}
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#"> <i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 로그아웃</a>
                        </div>
                        {% endif %}
                    </li>
                </ul>

            </nav>
            <!-- End of Topbar -->
            {% block content %} {% endblock %}
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; jyogiyo 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </div>

    <!-- Logout Modal-->
    <div aria-hidden="true" aria-labelledby="logoutModalLabel" class="modal fade" id="logoutModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">로그아웃 하시겠습니까?</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">하단의 "Logout" 버튼을 누르시면 로그아웃됩니다.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <a class="btn btn-danger" href="logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Logout Modal-->
</body>
</html>